<div class="filters">
    <h3 class="mobile-show">Filter grants and programs</h3>            
    
    <!-- 1. LOCATION -->
            <div class="filter-item" id="location">
                    <div class="filter-item-title">
                         <p>Location <span class="mobile-counter"></span></p>
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="12.5" viewBox="0 0 20 12.5">
                            <g transform="translate(20 12.5) rotate(180)">
                                <path id="Chevron_Up" data-name="Chevron / Up" d="M10,4.965,2.478,12.5,0,10.018,10,0,20,10.018,17.522,12.5Z" fill="#333" />
                            </g>
                        </svg>

                         </div>
                    <div class="active-filters multi-select">
                        <ul>
                            <li filter-type="location" filter-value="10" data-value="australian-capital-territory">Australian Capital Territory</li>
                            <li filter-type="location" filter-value="15" data-value="new-south-wales">New South Wales</li>
                            <li filter-type="location" filter-value="15"  data-value="northern-territory">Northern Territory</li>
                            <li filter-type="location" filter-value="15" data-value="queensland">Queensland</li>
                            <li filter-type="location" filter-value="15" data-value="south-australia">South Australia</li>
                            <li filter-type="location" filter-value="15" data-value="tasmania">Tasmania</li>
                            <li filter-type="location" filter-value="15" data-value="victoria">Victoria</li>
                            <li filter-type="location" filter-value="15" data-value="western-australia">Western Australia</li>
                            <li filter-type="location" filter-value="15" data-value="other-australian-territory">Other Australian territory</li>
                            <li filter-type="rural" filter-value="51" data-value="regional-or-rural-area" class="filter-toggle-switch">Regional or rural area</li>
                        </ul>
                    </div>                
                    <div class="filter-item-content">

                        <form>
                            <div class="checkbox-item" filter-type="location" filter-value="15">
                            <input type="checkbox" id="australian-capital-territory">
                            <label >Australian Capital Territory</label>
                            </div>
                            
                            <div class="checkbox-item" filter-type="location" filter-value="15">
                            <input type="checkbox" id="new-south-wales">
                            <label >New South Wales</label>
                            </div>  
                            
                            <div class="checkbox-item" filter-type="location" filter-value="15">
                            <input type="checkbox" id="northern-territory">
                            <label >Northern Territory</label>
                            </div>
                            
                            <div class="checkbox-item" filter-type="location" filter-value="15">
                            <input type="checkbox" id="queensland">
                            <label>Queensland</label>
                            </div>
                            
                            <div class="checkbox-item" filter-type="location" filter-value="15">
                            <input type="checkbox" id="south-australia">
                            <label>South Australia</label>
                            </div>
                            
                            <div class="checkbox-item" filter-type="location" filter-value="15">
                            <input type="checkbox" id="tasmania">
                            <label>Tasmania</label>
                            </div>
                            
                            <div class="checkbox-item" filter-type="location" filter-value="15">
                            <input type="checkbox" id="victoria">
                            <label >Victoria</label>
                            </div>
                            
                            <div class="checkbox-item" filter-type="location" filter-value="15">
                            <input type="checkbox" id="western-australia">
                            <label >Western Australia</label>
                            </div>
                            
                            <div class="checkbox-item" filter-type="location" filter-value="15">
                            <input type="checkbox" id="other-australian-territory">
                            <label >Other Australian territory</label>
                            </div>
                            
                        </form>
                        
                        <div class="custom-control custom-switch toggle-question">
                            <input type="checkbox" class="custom-control-input" id="filter-regional-or-rural-area" toggle-filter-type="rural" filter-value="51">
                            <label class="custom-control-label" for="filter-regional-or-rural-area">Regional or rural area</label>
                        </div>

                        </div>
                    </div>
              
                
   
    <!-- 2. INDUSTRY -->
                <div class="filter-item" id="industry">
                    <div class="filter-item-title">
                         <p>Industry <span class="mobile-counter"></span></p>
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="12.5" viewBox="0 0 20 12.5">
                            <g transform="translate(20 12.5) rotate(180)">
                                <path id="Chevron_Up" data-name="Chevron / Up" d="M10,4.965,2.478,12.5,0,10.018,10,0,20,10.018,17.522,12.5Z" fill="#333" />
                            </g>
                        </svg>

                         </div>
                    <div class="active-filters single-select">
                        <ul>
                            <li filter-type="industry" filter-value="27" data-value="accommodation-and-food-services">Accommodation and Food Services</li>
                            <li filter-type="industry" filter-value="27" data-value="administrative-and-support-services">Administrative and Support Services</li>
                            <li filter-type="industry" filter-value="27" data-value="agriculture-forestry-and-fishing">Agriculture, Forestry and Fishing</li>
                            <li filter-type="industry" filter-value="27" data-value="arts-and-recreation-services">Arts and Recreation Services</li>
                            <li filter-type="industry" filter-value="27" data-value="construction">Construction</li>
                            <li filter-type="industry" filter-value="27" data-value="education-and-training">Education and Training</li>
                            <li filter-type="industry" filter-value="27" data-value="electricity-gas-water-and-waste-services">Electricity, Gas, Water and Waste Services</li>
                            <li filter-type="industry" filter-value="27" data-value="financial-and-insurance-services">Financial and Insurance Services</li>
                            <li filter-type="industry" filter-value="27" data-value="health-care-and-social-assistance">Health Care and Social Assistance</li>
                            <li filter-type="industry" filter-value="27" data-value="information-media-and-telecommunications">Information Media and Telecommunications</li>
                            <li filter-type="industry" filter-value="27" data-value="manufacturing">Manufacturing</li>
                            <li filter-type="industry" filter-value="27" data-value="mining">Mining</li>
                            <li filter-type="industry" filter-value="27" data-value="professional-scientific-and-technical-services">Professional, Scientific and Technical Services</li>
                            <li filter-type="industry" filter-value="27" data-value="public-administration-and-safety">Public Administration and Safety</li>
                            <li filter-type="industry" filter-value="27" data-value="rental-hiring-and-real-estate-services">Rental, Hiring and Real Estate Services</li>
                            <li filter-type="industry" filter-value="27" data-value="retail-trade">Retail Trade</li>
                            <li filter-type="industry" filter-value="27" data-value="transport-postal-and-warehousing">Transport, Postal and Warehousing</li>
                            <li filter-type="industry" filter-value="27" data-value="wholesale-trade">Wholesale Trade</li>
                            <li filter-type="industry" filter-value="27" data-value="other-services">Other Services</li>  
                        </ul>
                    </div>                
                    <div class="filter-item-content">

                        <form>

                            <select id="filter_industry" select-filter-type="industry" filter-value="27">
                                <option value="select-option" class="select-option" >select industry</option>
                                <option value="accommodation-and-food-services" class="select-option">Accommodation and Food Services</option>
                                <option value="administrative-and-support-services" class="select-option">Administrative and Support Services</option>
                                <option value="agriculture-forestry-and-fishing" class="select-option">Agriculture, Forestry and Fishing</option>
                                <option value="arts-and-recreation-services" class="select-option">Arts and Recreation Services</option>
                                <option value="construction" class="select-option">Construction</option>
                                <option value="education-and-training" class="select-option">Education and Training</option>
                                <option value="electricity-gas-water-and-waste-services" class="select-option">Electricity, Gas, Water and Waste Services</option>
                                <option value="financial-and-insurance-services" class="select-option">Financial and Insurance Services</option>
                                <option value="health-care-and-social-assistance" class="select-option">Health Care and Social Assistance</option>
                                <option value="information-media-and-telecommunications" class="select-option">Information Media and Telecommunications</option>
                                <option value="manufacturing" class="select-option">Manufacturing</option>
                                <option value="mining" class="select-option">Mining</option>
                                <option value="professional-scientific-and-technical-services" class="select-option">Professional, Scientific and Technical Services</option>
                                <option value="public-administration-and-safety" class="select-option">Public Administration and Safety</option>
                                <option value="rental-hiring-and-real-estate-services" class="select-option">Rental, Hiring and Real Estate Services</option>
                                <option value="retail-trade" class="select-option">Retail Trade</option>
                                <option value="transport-postal-and-warehousing" class="select-option">Transport, Postal and Warehousing</option>
                                <option value="wholesale-trade" class="select-option">Wholesale Trade</option>
                                <option value="other-services" class="select-option">Other Services</option>

                            </select>
                        </form>

                        </div>
                    </div>
   

    
    <!-- 3. BUSINESS TYPE -->
                <div class="filter-item" id="business-type">
                    <div class="filter-item-title">
                         <p>Business type <span class="mobile-counter"></span></p>
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="12.5" viewBox="0 0 20 12.5">
                            <g transform="translate(20 12.5) rotate(180)">
                                <path id="Chevron_Up" data-name="Chevron / Up" d="M10,4.965,2.478,12.5,0,10.018,10,0,20,10.018,17.522,12.5Z" fill="#333" />
                            </g>
                        </svg>

                         </div>
                    <div class="active-filters single-select">
                        <ul>
                            <li filter-value="27" data-value="">select business type</li>
                            <li filter-value="27" data-value="sole-trader">Sole trader</li>
                            <li filter-value="27" data-value="partnership">Partnership</li>
                            <li filter-value="27" data-value="company">Company</li>
                            <li filter-value="27" data-value="trust">Trust</li>
                            <li filter-value="27" data-value="not-for-profit">Not for profit</li>
                        </ul>
                    </div>                
                    <div class="filter-item-content">

                        <form>
                        <select id="filter_business" select-filter-type="business-type" filter-value="27">
                            <option value="select-option" selected="selected" disabled="">select business type</option>
                            <option value="sole-trader">Sole trader</option>
                            <option value="partnership">Partnership</option>
                            <option value="company">Company</option>
                            <option value="trust">Trust</option>
                            <option value="not-for-profit">Not for profit</option>
                        </select>
                        </form>

                        </div>
                    </div>
   
              

    <!-- 4. SUPPORT TYPE -->
                <div class="filter-item" id="support-type">
                    <div class="filter-item-title">
                         <p>Support type <span class="mobile-counter"></span></p>
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="12.5" viewBox="0 0 20 12.5">
                            <g transform="translate(20 12.5) rotate(180)">
                                <path id="Chevron_Up" data-name="Chevron / Up" d="M10,4.965,2.478,12.5,0,10.018,10,0,20,10.018,17.522,12.5Z" fill="#333" />
                            </g>
                        </svg>

                         </div>
                    <div class="active-filters multi-select">
                        <ul>
                            <li filter-type="support-type" filter-value="60" data-value="funding">Funding</li>
                            <li filter-type="support-type" filter-value="30" data-value="subsidy">Subsidy</li>
                            <li filter-type="support-type" filter-value="10" data-value="concession">Concession</li>
                            <li filter-type="support-type" filter-value="10" data-value="scholarship">Scholarship</li>
                            <li filter-type="support-type" filter-value="10" data-value="tax-rebate">Tax rebate</li>
                            <li filter-type="support-type" filter-value="30" data-value="advice">Advice</li>
                            <li filter-type="support-type" filter-value="10" data-value="mentorship">Mentorship</li>
                        </ul>
                    </div>                
                    <div class="filter-item-content">

                        <form>
                            <div class="checkbox-item" filter-value="60" filter-type="support-type">
                            <input type="checkbox" id="funding">
                            <label for="funding">Funding</label>
                            </div>
                            
                            <div class="checkbox-item" filter-value="30" filter-type="support-type">
                            <input type="checkbox" id="subsidy">
                            <label for="subsidy">Subsidy</label>
                            </div>  
                            
                            <div class="checkbox-item" filter-value="10" filter-type="support-type">
                            <input type="checkbox" id="concession">
                            <label for="concession">Concession</label>
                            </div>
                            
                            <div class="checkbox-item" filter-value="10" filter-type="support-type">
                            <input type="checkbox" id="tax-rebate">
                            <label for="tax-rebate">Tax rebate</label>
                            </div>
                            
                            <div class="checkbox-item" filter-value="10" filter-type="support-type">
                            <input type="checkbox" id="scholarship">
                            <label for="scholarship">Scholarship</label>
                            </div>
                            
                            <div class="checkbox-item" filter-value="30" filter-type="support-type">
                            <input type="checkbox" id="advice">
                            <label for="advice">Advice</label>
                            </div>
                            
                            <div class="checkbox-item" filter-value="10" filter-type="support-type">
                            <input type="checkbox" id="mentorship">
                            <label for="tax-mentorship">Mentorship</label>
                            </div>
                            
                        </form>

                        </div>
                    </div>
              
                
    
    <!-- 5. OBJECTIVES -->
                <div class="filter-item" id="objectives">
                    <div class="filter-item-title">
                         <p>Objectives <span class="mobile-counter"></span></p>
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="12.5" viewBox="0 0 20 12.5">
                            <g transform="translate(20 12.5) rotate(180)">
                                <path id="Chevron_Up" data-name="Chevron / Up" d="M10,4.965,2.478,12.5,0,10.018,10,0,20,10.018,17.522,12.5Z" fill="#333" />
                            </g>
                        </svg>

                         </div>
                    <div class="active-filters multi-select">
                        <ul>
                            <li filter-type="objectives" filter-value="25" data-value="covid-19-related-support">Covid-19 related support</li>
                            <li filter-type="objectives" filter-value="25" data-value="prevent-or-recover-from-a-natural-disaster">Prevent or recover from a natural disaster</li>
                            <li filter-type="objectives" filter-value="13" data-value="build-or-improve-infrastructure">Build or improve infrastructure</li>
                            <li filter-type="objectives" filter-value="13" data-value="employ-people">Employ people</li>
                            <li filter-type="objectives" filter-value="13" data-value="funding-for-training-and-skills-development">Funding for training and skills development</li>
                            <li filter-type="objectives" filter-value="13" data-value="import-or-export-products-or-services">Import or export products or services</li>
                            <li filter-type="objectives" filter-value="13" data-value="improve-or-grow-my-business">Improve or grow my business</li>
                            <li filter-type="objectives" filter-value="13" data-value="invest-money-in-other-businesses">Invest money in other businesses</li>
                            <li filter-type="objectives" filter-value="13" data-value="market-and-advertise-my-business">Market and advertise my business</li>
                            <li filter-type="objectives" filter-value="13" data-value="organise-an-event">Organise an event</li>
                            <li filter-type="objectives" filter-value="13" data-value="purchase-or-upgrade-equipment-vehicles-or-tools">Purchase or upgrade equipment, vehicles or tools</li>
                            <li filter-type="objectives" filter-value="13" data-value="recycle-waste-or-reduce-my-energy-use">Recycle waste or reduce my energy use</li>
                            <li filter-type="objectives" filter-value="25" data-value="research-and-develop-innovative-new-products-or-services">Research and develop innovative new products or services</li>
                            <li filter-type="objectives" filter-value="13" data-value="start-a-business">Start a business</li>
                            <li filter-type="objectives" filter-value="13" data-value="upgrade-restore-or-fit-out-a-building">Upgrade, restore or fit out a building</li>
                            <!--<li filter-type="objectives" filter-value="13" data-value="none-of-these">None of these</li>-->
                        </ul>
                    </div>                
                    <div class="filter-item-content">

                        <form>
                            <div class="checkbox-item" filter-value="25" filter-type="objectives">
                            <input type="checkbox" id="covid-19-related-support">
                            <label>Covid-19 related support</label>
                            </div>

                            <div class="checkbox-item" filter-value="25" filter-type="objectives">
                            <input type="checkbox" id="prevent-or-recover-from-a-natural-disaster">
                            <label>Prevent or recover from a natural disaster</label>
                            </div>  
                            
                            <div class="checkbox-item" filter-value="25" filter-type="objectives">
                            <input type="checkbox" id="build-or-improve-infrastructure">
                            <label>Build or improve infrastructure</label>
                            </div>
                            
                            <div class="checkbox-item" filter-value="13" filter-type="objectives">
                            <input type="checkbox" id="employ-people">
                            <label>Employ people</label>
                            </div>  
                            
                            <div class="checkbox-item" filter-value="13" filter-type="objectives">
                            <input type="checkbox" id="funding-for-training-and-skills-development">
                            <label>Funding for training and skills development</label>
                            </div>
                            
                            <div class="checkbox-item" filter-value="13" filter-type="objectives">
                            <input type="checkbox" id="import-or-export-products-or-services">
                            <label>Import or export products or services</label>
                            </div>
                            
                            <div class="checkbox-item" filter-value="13" filter-type="objectives">
                            <input type="checkbox" id="improve-or-grow-my-business" >
                            <label>Improve or grow my business</label>
                            </div>
                            
                            <div class="checkbox-item" filter-value="13" filter-type="objectives">
                            <input type="checkbox" id="invest-money-in-other-businesses">
                            <label>Invest money in other businesses</label>
                            </div>
                            
                            <div class="checkbox-item" filter-value="13" filter-type="objectives">
                            <input type="checkbox" id="market-and-advertise-my-business">
                            <label>Market and advertise my business</label>
                            </div> 
                            
                            <div class="checkbox-item" filter-value="13" filter-type="objectives">
                            <input type="checkbox" id="organise-an-event">
                            <label>Organise an event</label>
                            </div>

                            
                            <div class="checkbox-item" filter-value="13" filter-type="objectives">
                            <input type="checkbox" id="purchase-or-upgrade-equipment-vehicles-or-tools">
                            <label>Purchase or upgrade equipment, vehicles or tools</label>
                            </div>
                            
                            <div class="checkbox-item" filter-value="13" filter-type="objectives">
                            <input type="checkbox" id="recycle-waste-or-reduce-my-energy-use">
                            <label>Recycle waste or reduce my energy use</label>
                            </div>
                            
                            <div class="checkbox-item" filter-value="25" filter-type="objectives">
                            <input type="checkbox" id="research-and-develop-innovative-new-products-or-services" >
                            <label>Research and develop innovative new products or services</label>
                            </div>
                            
                            <div class="checkbox-item" filter-value="13" filter-type="objectives">
                            <input type="checkbox" id="start-a-business">
                            <label>Start a business</label>
                            </div>
                            
                            <div class="checkbox-item" filter-value="13" filter-type="objectives">
                            <input type="checkbox" id="upgrade-restore-or-fit-out-a-building">
                            <label>Upgrade, restore or fit out a building</label>
                            </div>
                            
                            <!--<div class="checkbox-item none-of-these" filter-value="13" filter-type="objectives">
                            <input type="checkbox" id="none-of-these">
                            <label>None of these</label>
                            </div>-->
                            
                        </form>

                        </div>
                    </div>
              

    
    <!-- 6. BUSINESS STAGE -->
                <div class="filter-item" id="business-stage">
                    <div class="filter-item-title">
                         <p>Business stage <span class="mobile-counter"></span></p>
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="12.5" viewBox="0 0 20 12.5">
                            <g transform="translate(20 12.5) rotate(180)">
                                <path id="Chevron_Up" data-name="Chevron / Up" d="M10,4.965,2.478,12.5,0,10.018,10,0,20,10.018,17.522,12.5Z" fill="#333" />
                            </g>
                        </svg>

                         </div>
                    <div class="active-filters single-select">
                        <ul>
                            <li filter-value="27" data-value="2-years-or-less" class="select-option">2 years or less</li>
                            <li filter-value="27" data-value="3-and-5-years" class="select-option">3 and 5 years</li>
                            <li filter-value="27" data-value="more-than-5-years" class="select-option">More than 5 years</li>

                        </ul>
                    </div>                
                    <div class="filter-item-content">

                        <form>
                        <select id="filter_stage" select-filter-type="business-stage" filter-value="27">
                            <option value="select-option">select stage</option>
                            <option value="2-years-or-less" class="select-option">2 years or less</option>
                            <option value="3-and-5-years" class="select-option">3 and 5 years</option>
                            <option value="more-than-5-years" class="select-option">More than 5 years</option>
                            
                        </select>
                        </form>

                        </div>
                    </div>
   
  
    
    <!-- 7. GRANT / PROGRAM STATUS -->
                <div class="filter-item" id="status">
                    <div class="filter-item-title">
                         <p>Grant status <span class="mobile-counter"></span></p>
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="12.5" viewBox="0 0 20 12.5">
                            <g transform="translate(20 12.5) rotate(180)">
                                <path id="Chevron_Up" data-name="Chevron / Up" d="M10,4.965,2.478,12.5,0,10.018,10,0,20,10.018,17.522,12.5Z" fill="#333" />
                            </g>
                        </svg>

                         </div>
                    <div class="active-filters multi-select">
                        <ul>
                            <li filter-type="status" filter-value="50" data-value="open">Open</li>
                            <li filter-type="status" filter-value="10" data-value="coming-soon">Coming soon</li>
                            <li filter-type="status" filter-value="50" data-value="closed">Closed</li>    
                        </ul>
                    </div>                
                    <div class="filter-item-content">

                        <form>
                            <div class="checkbox-item" filter-value="50" filter-type="status">
                            <input type="checkbox" id="open">
                            <label >Open</label>
                            </div>
                            
                            <div class="checkbox-item" filter-value="10" filter-type="status">
                            <input type="checkbox" id="coming-soon">
                            <label>Coming soon</label>
                            </div>  
                            
                            <div class="checkbox-item" filter-value="50" filter-type="status">
                            <input type="checkbox" id="closed">
                            <label >Closed</label>
                            </div>

                        </form>

                        </div>
                    </div>
              
      
    <!-- 8. ATSI -->

                <div class="filter-item one-option" id="atsi">

                    <div class="active-filters">
                        <ul>
                            <li filter-type="atsi" filter-value="51" data-value="atsi" class="filter-toggle-switch">Aboriginal or Torres Strait Islander origin</li>
                        </ul>
                    </div>  
                    
                    <div class="custom-control custom-switch toggle-question filter-toggle-question">
                        <input type="checkbox" class="custom-control-input" id="filter-atsi" toggle-filter-type="atsi" filter-value="51">
                        <label class="custom-control-label" for="filter-atsi">Aboriginal or Torres Strait Islander origin</label>
                    </div>

                </div>

                   
                 
    </div>
    
