<!-- SECTION 0 - GET STARTED -->
<div class="finder_section" data-value="0" id="section_0">
<div class="finder-main-section main-section" id="mainsection">  

    <div class="finder-wrapper c-wrapper c-wrapper-bg-transparent container-fluid layout top-of-page">
        <div class="row">
            <div class="col-12 col-lg-12 col-xl-12">
                <div class="start-button-wrapper">
                    <div class="row">

                        <div class="tool-start col-md-8">
                            <h2 class="top-of-page">How this tool can help you</h2>
                            <p class="start-lead">If you’re doing business in Australia, this guided search will help you find grants, funding and support programs from across government.</p>
                            <p class="start-lead">Answer a few questions about your business to find grants and programs you may be eligible for.</p>
                        </div>

                        <div class="tool-time">
                            <svg xmlns="http://www.w3.org/2000/svg" width="56" height="56" viewBox="0 0 56 56">
                                <g transform="translate(-253.24 -218.529)">
                                    <path d="M281.241,218.529a28,28,0,1,0,28,28A28.032,28.032,0,0,0,281.241,218.529Zm0,50.815a22.815,22.815,0,1,1,0-45.63h0a22.815,22.815,0,0,1,0,45.63Z" fill="#262626" />
                                    <path d="M282.74,236.029h-5v15.5h15.5v-5h-10.5Z" transform="translate(1.273 0.909)" fill="#262626" />
                                </g>
                            </svg>


                            <h3>Time to complete</h3>
                            <p>Around 10 minutes</p>
                        </div>

                        <form>
                            <div class="form-buttons">
                                <div class="standardcta-button-wrapper standardcta-inline-button-wrapper">
                                    <div>
                                        <a href={{ "finder/tool_1.html" | relative_url }} data-value="section_1" class="theme-button theme-button-primary theme-button-small btn next">
                                            <span>Start now</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
                
                <p class="alt-link">Or explore the <a>full list of grants and programs for business</a> below.</p>
            </div>
        </div>

    </div>

</div>
    
</div>




<!-- SECTION 1 - LOCATION -->
<div class="finder_section" data-value="1" id="section_1">
<div class="finder-main-section main-section light" id="mainsection">   
    
    <div class="finder-wrapper c-wrapper c-wrapper-bg-transparent container-fluid layout top-of-page">
        <div class="row">
            <div class="col-12 col-lg-12 col-xl-12">
                <div class="finder-question multi-select">
                    <p class="section-title">Location</p>
                    <h2>My business is operating in </h2>
                    <p class="help-text">Select  one or more options</p>
                    <ul>
                        <li filter-type="location" filter-value="15" data-value="australian-capital-territory">Australian Capital Territory</li>
                        <li filter-type="location" filter-value="15" data-value="new-south-wales">New South Wales</li>
                        <li filter-type="location" filter-value="15" data-value="northern-territory">Northern Territory</li>
                        <li filter-type="location" filter-value="15" data-value="queensland">Queensland</li>
                        <li filter-type="location" filter-value="15" data-value="south-australia">South Australia</li>
                        <li filter-type="location" filter-value="15" data-value="tasmania">Tasmania</li>
                        <li filter-type="location" filter-value="15" data-value="victoria">Victoria</li>
                        <li filter-type="location" filter-value="15" data-value="western-australia">Western Australia</li>
                        <li filter-type="location" filter-value="15" data-value="other-australian-territory">Other Australian territory</li>
                    </ul>

               
                <div class="finder-question-toggle" id="question-regional-or-rural-area">
                    <div class="custom-control custom-switch toggle-question">
                        <h3>Regional or rural area</h3>
                        <input type="checkbox" class="custom-control-input" id="regional-or-rural-area-switch" toggle-filter-type="rural" filter-value="51">
                        <label class="custom-control-label" for="regional-or-rural-area-switch"></label>
                    </div>
                </div>
                
                </div>
                
                <form>
                    <div class="form-buttons">
                    
                        
                        <a href={{ "finder/tool.html" | relative_url }} class="previous" data-value="section_0">Previous</a>
                       
                        <div class="standardcta-button-wrapper standardcta-inline-button-wrapper">
                            <div>
                                
                                <a href={{ "finder/tool_2.html" | relative_url }} data-value="section_2" class="next theme-button theme-button-primary theme-button-small btn">
                                    <span>Next</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </form>

             
            </div>
        </div>

    </div>

</div>
</div>




<!-- SECTION 2 - INDUSTRY -->
<div class="finder_section" data-value="2" id="section_2">
<div class="finder-main-section main-section light" id="mainsection">  
    
    
    <div class="finder-wrapper c-wrapper c-wrapper-bg-transparent container-fluid layout top-of-page">
        <div class="row">
            <div class="col-12 col-lg-12 col-xl-12">
                <div class="finder-question single-select"id="question-industry">
                    <p class="section-title">Industry</p>
                    <h2>My business is in the industry of</h2>
                    
                   <select id="sel_industry" select-filter-type="industry" filter-value="27">
                        <option value="select-option">select industry</option>
                        <option value="accommodation-and-food-services" class="select-option">Accommodation and Food Services</option>
                        <option value="administrative-and-support-services" class="select-option">Administrative and Support Services</option>
                        <option value="agriculture-forestry-and-fishing" class="select-option">Agriculture, Forestry and Fishing</option>
                        <option value="arts-and-recreation-services" class="select-option">Arts and Recreation Services</option>
                        <option value="construction" class="select-option">Construction</option>
                        <option value="education-and-training" class="select-option">Education and Training</option>
                        <option value="electricity-gas-water-and-waste-services" class="select-option">Electricity, Gas, Water and Waste Services</option>
                        <option value="financial-and-insurance-services" class="select-option">Financial and Insurance Services</option>
                        <option value="health-care-and-social-assistance" class="select-option">Health Care and Social Assistance</option>
                        <option value="information-media-and-telecommunications" class="select-option">Information Media and Telecommunications</option>
                        <option value="manufacturing" class="select-option">Manufacturing</option>
                        <option value="mining" class="select-option">Mining</option>
                        <option value="professional-scientific-and-technical-services" class="select-option">Professional, Scientific and Technical Services</option>
                        <option value="public-administration-and-safety" class="select-option">Public Administration and Safety</option>
                        <option value="rental-hiring-and-real-estate-services" class="select-option">Rental, Hiring and Real Estate Services</option>
                        <option value="retail-trade" class="select-option">Retail Trade</option>
                        <option value="transport-postal-and-warehousing" class="select-option">Transport, Postal and Warehousing</option>
                        <option value="wholesale-trade" class="select-option">Wholesale Trade</option>
                        <option value="other-services" class="select-option">Other Services</option>
                    </select>
                    
                    
                    
                </div>
                
                <form>
                    <div class="form-buttons">
                       
                        <a href={{ "finder/tool.html" | relative_url }} class="start-again clear-all">Start again</a>
                        
                        <a href={{ "finder/tool_1.html" | relative_url }} class="previous" data-value="section_1">Previous</a>
                       
                        <div class="standardcta-button-wrapper standardcta-inline-button-wrapper">
                            <div>
                                <a href={{ "finder/tool_3.html" | relative_url }} data-value="section_3" class="next theme-button theme-button-primary theme-button-small btn">
                                    <span>Next</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </form>

             
            </div>
        </div>

    </div>


</div>
</div>




<!-- SECTION 3 - BUSINESS TYPE -->
<div class="finder_section" data-value="3" id="section_3">
<div class="finder-main-section main-section light" id="mainsection">  
  
    
    <div class="finder-wrapper c-wrapper c-wrapper-bg-transparent container-fluid layout top-of-page">
        <div class="row">
            <div class="col-12 col-lg-12 col-xl-12">
                <div class="finder-question single-select" id="question-business-type">
                    <p class="section-title">Business type</p>
                    <h2>My business is operating as a</h2>
                    
                       <select id="sel_business" select-filter-type="business-type" filter-value="27">
                            <option value="select-option" >select business type</option>
                            <option value="sole-trader" class="select-option">Sole trader</option>
                            <option value="partnership" class="select-option">Partnership</option>
                            <option value="company" class="select-option">Company</option>
                            <option value="trust" class="select-option">Trust</option>
                            <option value="not-for-profit" class="select-option">Not for profit</option>
                        </select>
         
                    
                </div>
                
                <form>
                    <div class="form-buttons">
                       <a href={{ "finder/tool.html" | relative_url }} class="start-again clear-all">Start again</a>
                        
                        <a href={{ "finder/tool_2.html" | relative_url }} class="previous" data-value="section_2">Previous</a>
                       
                        <div class="standardcta-button-wrapper standardcta-inline-button-wrapper">
                            <div>
                                <a href={{ "finder/tool_4.html" | relative_url }} data-value="section_4" class="next theme-button theme-button-primary theme-button-small btn">
                                    <span>Next</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </form>

             
            </div>
        </div>

    </div>
   

</div>
</div>




<!-- SECTION 4 - SUPPORT TYPE -->
<div class="finder_section" data-value="4" id="section_4">
<div class="finder-main-section main-section light" id="mainsection">  

    
        <div class="finder-wrapper c-wrapper c-wrapper-bg-transparent container-fluid layout top-of-page">
        <div class="row">
            <div class="col-12 col-lg-12 col-xl-12">
                <div class="finder-question multi-select">
                    <p class="section-title">Support type</p>
                    <h2>I am interested in</h2>
                    <p class="help-text">Select  one or more options</p>
                    <ul>
                        <li filter-type="support-type" filter-value="60" data-value="funding">Funding</li>
                        <li filter-type="support-type" filter-value="30" data-value="subsidy">Subsidy</li>
                        <li filter-type="support-type" filter-value="10" data-value="concession">Concession</li>
                        <li filter-type="support-type" filter-value="10" data-value="scholarship">Scholarship</li>
                        <li filter-type="support-type" filter-value="10" data-value="tax-rebate">Tax rebate</li>
                        <li filter-type="support-type" filter-value="30" data-value="advice">Advice</li>
                        <li filter-type="support-type" filter-value="10" data-value="mentorship">Mentorship</li>
                    </ul>
                </div>
                
                <form>
                    <div class="form-buttons">
                       
                        <a href={{ "finder/tool.html" | relative_url }} class="start-again clear-all">Start again</a>
                        
                        <a href={{ "finder/tool_3.html" | relative_url }} class="previous" data-value="section_3">Previous</a>
                       
                        <div class="standardcta-button-wrapper standardcta-inline-button-wrapper">
                            <div>
                                <a href={{ "finder/tool_5.html" | relative_url }} data-value="section_5" class="next theme-button theme-button-primary theme-button-small btn">
                                    <span>Next</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </form>

             
            </div>
        </div>

    </div>
    
    
    


</div>
</div>




<!-- SECTION 5 - OBJECTIVES -->
<div class="finder_section" data-value="5" id="section_5">
<div class="finder-main-section main-section light" id="mainsection">  

 
    <div class="finder-wrapper c-wrapper c-wrapper-bg-transparent container-fluid layout top-of-page">
        <div class="row">
            <div class="col-12 col-lg-12 col-xl-12">
                <div class="finder-question multi-select">
                    <p class="section-title">Objectives</p>
                    <h2>I am looking for assistance to</h2>
                    <p class="help-text">Select  one or more options</p>
                    <ul>
                        <li filter-type="objectives" filter-value="25" data-value="covid-19-related-support">Covid-19 related support</li>
                        <li filter-type="objectives" filter-value="25" data-value="prevent-or-recover-from-a-natural-disaster">Prevent or recover from a natural disaster</li>
                        <li filter-type="objectives" filter-value="13" data-value="build-or-improve-infrastructure">Build or improve infrastructure</li>
                        <li filter-type="objectives" filter-value="13" data-value="employ-people">Employ people</li>
                        <li filter-type="objectives" filter-value="13" data-value="funding-for-training-and-skills-development">Funding for training and skills development</li>
                        <li filter-type="objectives" filter-value="13" data-value="import-or-export-products-or-services">Import or export products or services</li>
                        <li filter-type="objectives" filter-value="13" data-value="improve-or-grow-my-business">Improve or grow my business</li>
                        <li filter-type="objectives" filter-value="13" data-value="invest-money-in-other-businesses">Invest money in other businesses</li>
                        <li filter-type="objectives" filter-value="13" data-value="market-and-advertise-my-business">Market and advertise my business</li>
                        <li filter-type="objectives" filter-value="13" data-value="organise-an-event">Organise an event</li>
                        <li filter-type="objectives" filter-value="10" data-value="purchase-or-upgrade-equipment-vehicles-or-tools">Purchase or upgrade equipment, vehicles or tools</li>
                        <li filter-type="objectives" filter-value="13" data-value="recycle-waste-or-reduce-my-energy-use">Recycle waste or reduce my energy use</li>
                        <li filter-type="objectives" filter-value="25" data-value="research-and-develop-innovative-new-products-or-services">Research and develop innovative new products or services</li>
                        <li filter-type="objectives" filter-value="13" data-value="start-a-business">Start a business</li>
                        <li filter-type="objectives" filter-value="13" data-value="upgrade-restore-or-fit-out-a-building">Upgrade, restore or fit out a building</li>
                        <!--<li filter-type="objectives" filter-value="13" data-value="none-of-these">None of these</li>-->
                    </ul>
                </div>
                
                <form>
                    <div class="form-buttons">
                       
                        <a href={{ "finder/tool.html" | relative_url }} class="start-again clear-all">Start again</a>

                        <a href={{ "finder/tool_4.html" | relative_url }} class="previous" data-value="section_4">Previous</a>
                       
                        <div class="standardcta-button-wrapper standardcta-inline-button-wrapper">
                            <div>
                                <a href={{ "finder/tool_6.html" | relative_url }} data-value="section_6" class="next theme-button theme-button-primary theme-button-small btn">
                                    <span>Next</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </form>

             
            </div>
        </div>

    </div>


</div>
</div>




<!-- SECTION 6 - BUSINESS STAGE -->
<div class="finder_section" data-value="6" id="section_6">
<div class="finder-main-section main-section light" id="mainsection">  


    <div class="finder-wrapper c-wrapper c-wrapper-bg-transparent container-fluid layout top-of-page">
        <div class="row">
            <div class="col-12 col-lg-12 col-xl-12">
                <div class="finder-question single-select" id="question-business-stage">
                    <p class="section-title">Business stage and turnover</p>
                    <h2>My business has been in operation for</h2>
                    
                       <select id="sel_stage" select-filter-type="business-stage" filter-value="27">
                            <option value="select-option">select stage</option>
                            <option value="2-years-or-less" class="select-option">2 years or less</option>
                            <option value="3-and-5-years" class="select-option">3 and 5 years</option>
                            <option value="more-than-5-years" class="select-option">More than 5 years</option>
                            
                        </select>
                    
                </div>
                
                
                
                <form>
                    <div class="form-buttons">
                       
                        <a href={{ "finder/tool.html" | relative_url }} class="start-again clear-all">Start again</a>
                        
                        <a href={{ "finder/tool_5.html" | relative_url }} class="previous" data-value="section_5">Previous</a>
                       
                        <div class="standardcta-button-wrapper standardcta-inline-button-wrapper">
                            <div>
                                <a href={{ "finder/tool_7.html" | relative_url }} data-value="section_7" class="next theme-button theme-button-primary theme-button-small btn">
                                    <span>Next</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </form>

             
            </div>
        </div>

    </div>


</div>
</div>




<!-- SECTION 7 - GRANT /PROGRAM STATUS -->
<div class="finder_section" data-value="7" id="section_7">
<div class="finder-main-section main-section light" id="mainsection">  

    
        <div class="finder-wrapper c-wrapper c-wrapper-bg-transparent container-fluid layout top-of-page">
            <div class="row">
                <div class="col-12 col-lg-12 col-xl-12">


                    <div class="finder-question multi-select">
                        <p class="section-title">Grant / Program status</p>
                        <h2>I want to see grants and programs that are</h2>
                        <p class="help-text">Select one or more options</p>
                        <ul>
                            <li filter-type="status" filter-value="50" data-value="open">Open</li>
                            <li filter-type="status" filter-value="10" data-value="coming-soon">Coming soon</li>
                            <li filter-type="status" filter-value="50" data-value="closed">Closed</li>
                        </ul>
                    </div>

                    <form>
                        <div class="form-buttons">

                            <a href={{ "finder/tool.html" | relative_url }} class="start-again clear-all">Start again</a>

                            <a href={{ "finder/tool_6.html" | relative_url }} class="previous" data-value="section_6">Previous</a>

                            <div class="standardcta-button-wrapper standardcta-inline-button-wrapper">
                                <div>
                                    <a href={{ "finder/tool_8.html" | relative_url }} data-value="section_8" class="next theme-button theme-button-primary theme-button-small btn">
                                        <span>Next</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </form>


                </div>
            </div>

        </div>

    
</div>
</div>




<!-- SECTION 8 - ATSI-->

<div class="finder_section" data-value="8" id="section_8">
    <div class="finder-main-section main-section light" id="mainsection">

        
    <div class="finder-wrapper c-wrapper c-wrapper-bg-transparent container-fluid layout top-of-page">
        <div class="row">
            <div class="col-12 col-lg-12 col-xl-12">
                <div class="finder-question finder-question-toggle" id="question-atsi">
                    <div class="custom-control custom-switch toggle-question heading-level">
                        <h2>I am of Aboriginal or Torres Strait Islander origin</h2>
                        <input type="checkbox" class="custom-control-input" id="atsi-switch" toggle-filter-type="atsi" filter-value="51">
                        <label class="custom-control-label" for="atsi-switch"></label>
                    </div>
                    
                   
                   
                </div>
                
                <form>
                    <div class="form-buttons">
                       
                        <a href={{ "finder/tool.html" | relative_url }} class="start-again clear-all">Start again</a>
                        
                        <a href={{ "finder/tool_7.html" | relative_url }} class="previous" data-value="section_7">Previous</a>
                       
                        <div class="standardcta-button-wrapper standardcta-inline-button-wrapper">
                            <div>
                                <a class="view-results theme-button theme-button-primary theme-button-small btn">
                                    <span>View results</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </form>

             
            </div>
        </div>

    </div>

        
        
    </div>
</div>
