<div class="shortlist-wrapper">
<p class="modal-close">Close</p>
<h2>Grants and programs shortlist <span class="shortlist-counter">0</span></h2>
    <div class="shortlist-links">
    <ul>
        
        </ul>
        
        <div class="empty-shortlist">
        <h3>You don't have any grants or programs shortlisted at the moment.</h3>
        <p>You can add items to the shortlist by clicking on the shortlist 'star' icon.</p>
        </div>
    </div>
    
    <div class="email-shortlist">
        <h3>Email your shortlist</h3>
               
                <form>
                    <label for="form-text-box-primary" class="form-text-box-primary-label">Enter your email address</label>
                    
                    <div class="text-box-button-combo-example" >

                        <input id="form-combo-box-primary" name="form-text-box-primary" type="text" value="" class="example-form-element">
                        
                        <div id="send-email" class="combo-button-wrapper primary-button-wrapper">
                            <div><btn id="primary-combo" class="combo-button primary-combo" aria-label="Primary button"><span>Email shortlist</span></btn></div>
                        </div>
                    </div>
                </form>
    </div>
</div>