/*  CHECKLIST PATTERN  */

// Checklist items & email button
.checklist-wrapper {

    position: relative;
    padding-top: 0;
    margin-bottom: 32px;
    
    .checklist-expand-all {
        margin-right: 24px;
        position: relative;
        min-height: 36px;
        
        .checklist-group-toggle-content {
            max-width: 96px;
            position: absolute;
            top: 0;
            right: 0;

            h5 {
                display: inline-block;
                color: $grey-darker;
                text-decoration: none;
                margin: 0;
                padding: 0;
            }
            .BgaIcon {
                display: inline-block;
                margin-left: 8px;
            }
            &:hover,
                &:focus {
                    border-bottom: solid #666666 2px;
                }    
        }    
    }


    .checklist-line {
        height: calc(100% - 115px);
        width: 3px;
        background: $grey;
        display: block;
        z-index: 0;
        position: absolute;
        margin: 48px 0 0 24px;

    }
    
    .checklist-item-divider {
            border-top: 2px solid $grey;
            width: calc(100% - 96px);
            margin: 16px 0 16px 80px;
            padding: 0;
        }


    .checklist-item {

        .checklist-item-title {

            background: $white url("../assets/Icon-chevron-down-blue.svg") no-repeat;
            background-position: right 24px center;
            background-size: 20px 12.5px;
            position: relative;
            padding: 24px 48px 24px 24px;
            margin-left: 64px;
            cursor: pointer;

            h2 {
                margin: 0;
                padding: 0;
                font-size: 26px;

                span {
                    position: absolute;
                    top: 20px;
                    left: -64px;
                    border-radius: 50%;
                    border: 3px solid $grey;
                    height: 48px;
                    width: 48px;
                    text-align: center;
                    line-height: 38px;
                    z-index: 100;
                    background: $white;
                }
            }
            &:hover {
                h2 {
                    text-decoration: underline;
                }
                background: url("../assets/Icon-chevron-down-hover-grey.svg") no-repeat;
                background-position: right 16px center;
                background-size: 36px 36px;  
            }
            &:active {
                background: url("../assets/Icon-chevron-down-active-grey.svg") no-repeat;
                background-position: right 16px center;
                background-size: 36px 36px; 
            }
        }

        &:last-of-type {
            .checklist-sub-item:last-of-type {
                &:after {
                    content: " ";
                    height: calc(100% - 32px);
                    width: 5px;
                    background: $white;
                    position: absolute;
                    z-index: 10;
                    top: 40px;
                    left: -56px;
                }
            }
        }

        .checklist-sub-item-wrapper {
            display: none;
            margin-left: 48px;
        }

        .checklist-sub-item {
            position: relative;
            margin-left: 16px;

            .checklist-item-content {
                background: #E5EDF7;
                padding: 16px 32px 32px 32px;
                position: relative;
                
                // Remove padding from last element of content box
                 > *:last-child {
                    padding-bottom: 0;
                    margin-bottom: 0;
                }
                 > *:last-child li:last-of-type {
                    padding-bottom: 0;
                    margin-bottom: 0;
                }

                h3 {
                    padding-right: 120px;
                }
                a {
                    color: $blue-primary;
                    box-shadow: none;
                    border-bottom: 2px solid $blue-hyperlink;


                    &:hover {
                        text-decoration: none;
                        box-shadow: $grey-light 0px -20px 0px 0px inset;
                    }
                    &:active {
                        color: $black;
                    }
                }

            }
        }

        
        &.open {
            &:last-of-type {
                .checklist-item-title:before {
                    height: 100%;  
                }
            }

            .checklist-item-title {
                background: #E5EDF7 url("../assets/Icon-chevron-up-blue.svg") no-repeat;
                background-position: right 24px center;
                border: none;

                h2 {
                    span {
                        background: $blue-primary;
                        border: 3px solid $blue-primary;
                        color: $white;
                    }
                }
                &:hover {
                    h2 {
                        text-decoration: underline;
                    }
                    background: #E5EDF7 url("../assets/Icon-chevron-up-hover-white.svg") no-repeat;
                    background-position: right 16px center;
                    background-size: 36px 36px;  
                }
                &:active {
                    background: #E5EDF7 url("../assets/Icon-chevron-up-hover-white.svg") no-repeat;
                    background-position: right 16px center;
                    background-size: 36px 36px; 
                }
            }

            .checklist-sub-item-wrapper {
                display: block;
            }
        }



    }

    // Media queries
    @media (max-width: 991px) {

        .checklist-line {
             width: 2px;
             margin: 48px 0 0 8px;
         }

        .checklist-item {

            .checklist-item-title {
                padding: 24px 56px 24px 24px;
                margin-left: 40px;

                h2 {
                    font-size: 24px;

                    span {
                        top: 22px;
                        left: -48px;
                        border: 3px solid $grey;
                        height: 36px;
                        width: 36px;
                        line-height: 1.9rem;
                    }
                }
            }
            &:last-of-type {
                .checklist-sub-item:last-of-type {
                    &:after {
                        left: -48px;
                    }
                }
            }

            .checklist-sub-item-wrapper {
                margin-left: 24px; 
            }

            .checklist-sub-item {

                &:before {
                    left: -59px;
                    top: 26px;
                }

                .checklist-item-content {
                    padding: 16px 24px 24px 24px;

                    h3 {
                        padding-right: 0;
                        width: 100%;
                    }
                }
            }

            .checklist-item-divider {
                border-top: 2px solid $grey;
                width: calc(100% - 72px);
                margin: 16px 0 16px 56px;
            }
        }  
    }

    @media (max-width: 767px) {

        .checklist-line {
            width: 2px;
            margin: 48px 0 0 8px;
            height: calc(100% - 130px);    
        }

        .checklist-item {
            .checklist-item-title {
                background-position: right 24px center;
                padding: 16px 56px 16px 24px;

                h2 {
                    font-size: 20px;
                    
                    span {
                        top: 11px;
                    }
                }
            }

            &:last-of-type {
                .checklist-sub-item:last-of-type {
                    &:after {
                        left: -48px;
                    }
                }
            }
            .checklist-sub-item-wrapper.step-minimised {

                .checklist-sub-item {

                    &:before {
                        top: 18px;
                    }
                    .checklist-item-content {
                        padding: 16px 24px 24px 24px;
                    }
                }
            }

             &.open {
                .checklist-item-title {
                    background-position: right 24px center;  
                }
            }
        }
    }

    @media (max-width: 575px) {
        .checklist-item {
            
            .checklist-item-title {
                padding: 16px 56px 16px 16px;
            }
             .checklist-item-divider {
                margin: 8px 0 8px 56px;
            }
            .checklist-sub-item-wrapper.step-minimised .checklist-sub-item {
                .checklist-item-content {
                    padding: 16px;
                }
            }
        }
    }


}
